body {
	background-color: #f2f2f2;
	text-align: left;
	margin-left: 120px;
	margin-right: 120px;
}

h1 {
	color: #8c8c8c;
	font-family: Georgia;
	font: Helvetica Condensed;
	text-align: center;
	font-size: 40px
}

ul li {
	background-color: #F0FF00;
	font-size: 
}

address {
	font: Arial;
}
h2 {
	color: #8c8c8c;
	font-family: Georgia;
	font: Georgia;
	line-height: 7px
}

p {
	font-family: Helvetica;
	color: #333333;
	font-size: 16px;
}

ol li {
	background-color: #24afc3;
}